*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
}

 

body{
   background-color: #2C2C2C;
}

#cap{
    max-width: 1600px;
    margin: 0 auto;
}

#container{
    display: flex;
    padding: 40px 60px;
    justify-content: space-between;
}

#container-bio{
    width: 70%;
}

#img img{
    width: 221px;
    height: 222px;
    flex-shrink: 0;
    border-radius: 400px;
    border: 2px solid #FFF;
} 

#row{
    gap: 30px;
    padding: 0px 0px 44px 10px ;
}

#bio{
    align-items: center;
    gap: 30px;
    display: flex;
}
 

#bio h2{
 
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#bio h4{
    color: #B3B3B3;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#description img{
    text-align: center;
    width: 32px;
    height: 32px;
}


#experience{
  box-shadow: 4px 4px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);  
  width: 90%;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px;
 
}

#experience h3{
    margin: 0px 0px 30px 0px;
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#experience p{
    color: #B3B3B3;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#experience-img-bio{
    display: flex;
}

#experience-img-bio img{
    width: 64px;
    margin: 0px 16px 0px 0px;
}

 #linha-estilizada{
    border: none; /* Remove a borda padrão */
    border-top: 2px solid #5c5a5a; /* Define a cor, a espessura e o estilo da linha */
    margin: 10px 0; /* Adiciona espaço acima e abaixo da linha (opcional) */
 }

#skill{
     display: flex;
     align-items: center;
     gap: 10px;
     margin: 0px 0px 5px 0px;
     cursor: pointer;
    
}

#skill img{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#skill:nth-child(1) p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.19);
    background: linear-gradient(90deg, #777CF4 0%, #F47777 134.74%);
   
}

#skill:nth-child(2) p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.19);
    background: linear-gradient(90deg, #777CF4 0%, #F47777 134.74%);
}

#skill:nth-child(3) p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.19);
    background: linear-gradient(90deg, #777CF4 0%, #F47777 134.74%);
} 

#skill:nth-child(4) p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.19);
    background: linear-gradient(90deg, #777CF4 0%, #F47777 134.74%);
} 

#skill:nth-child(5) p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.19);
    background: linear-gradient(90deg, #777CF4 0%, #F47777 134.74%);
} 

#skill:nth-child(6) p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.19);
    background: linear-gradient(90deg, #777CF4 0%, #F47777 134.74%);
} 

#languages-1{
    display: flex;
    align-items: center; 
    margin: 0px 0px 24px 0px ;
}

#languages-2{
    display: flex;
    align-items: center; 
    margin: 0px 0px 42px 0px ;
}

#container-skills p{
    margin: 0px 0px 34px 0px;

}

#languages-1 img, #languages-2 img{
    margin: 0px 10px 0px 0px;
}

#languages-1 h2, #languages-2 h2{
    color: #B3B3B3;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

 

#education{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 160px;
    flex-shrink: 0;
    margin: 0px 0px 42px 0px;
   
}

#education img{
    width: 24px;
    height: 24px;
    margin: 0px 15px 0px 0px;
}

#education p{
    color: #B3B3B3;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
}

#redes-sociais{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;
}


#redes{
    display: flex;
    gap: 34px;
    margin: 60px 0px 40px 0px;
}

#redes-sociais:nth-child(4) a{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


 
#redes a{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: #FFF;
  
}

#redes img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}


#container-btn{
    border: 1px solid #FFF;
    cursor: pointer;
    width: 325px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(90deg, #777CF4 2.62%, #F47777 93.38%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
 

#container-btn a{
    padding: 10px;
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
 

#container-btn img{
    margin: 0px 0px 0px 10px;
}

#container-redes-sociais p{
    margin: 0px 0px 34px 0px;
}

#footer{
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 30px;
}

#footer p{
    color: white;
}

header {
  
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

#h2-bio{
    display: inline-block;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(20, end) forwards;
}

@keyframes typing {
    to {
        width: 100%;
    }
}

#language-selector {
    margin-top: 20px;
}

#language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
  }

 
#language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2C2C2C;
  }
  
 
  #language-selector select {
    margin: 0px 20px 0px 0px;
    padding-left: 30px;
    background-color: #2C2C2C;
  }
  
  #language-selector select option {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
    padding-left: 30px;
  }
  
 
 
  #language-selector select option:checked {
    background-color: #2C2C2C;  
  }


  #container-projects{
     margin: 0px 0px 32px 0px ;     
     
  }


  #projects-btn button{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #FFF;
    cursor: pointer;
    text-decoration: none;
    width: 325px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(90deg, #777CF4 2.62%, #F47777 93.38%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 34px 0px 0px 0px;
  }

  
  

/*RESPONSIVIDADE MOBILE*/

@media screen and (max-width: 1115px) {

    #bio{
        text-align: center;
        flex-direction: column;
    }

    #container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        padding: 0px;
     }
    #container-bio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      
    }
    #container-skills{
        margin: 0px 0px 20px 0px;
    }
    
    #education{
        margin: 0px 0px 60px 0px;
    }
    
    #container-btn{
       margin: 0px 0px 30px 10px;
    }

    #experience{
        text-align: center;
        width: 90%;
        padding: 5px;
    }

    #experience-img-bio{
        display: inline;
    }
    #redes{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #projects-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    
   #img img{
    margin: 20px 0px 0px 0px;
    width: 150px;
    height: 150px;

    } 
   
    #bio h2{
        font-size: 25px;
    } 
    
    #bio h4 {
        font-size: 25px;
    }
}

 